.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: z-index 0.2s step-end, opacity 0.2s ease-in-out;

  &_active {
    opacity: 0.5;
    z-index: 2;
    transition: z-index 0.2s step-start, opacity 0.2s ease-in-out;
  }
}
