@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  user-select: none;
}

.header {
  &__logo {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: var(--green-300);
  }

  &__title {
    font-size: 25px;
    color: var(--gray-500);
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    font-size: 32px;
    color: var(--white);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--orange-200);
    }

    &_active {
      pointer-events: none;

      &:hover {
        color: var(--gray-400);
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
      color: var(--gray-400);

      &:hover {
        color: var(--black);
      }

      &_active {
        pointer-events: none;

        &:hover {
          color: var(--gray-400);
        }
      }
    }
  }
}

.module {
  &__title {
    font-size: 28px;
    line-height: 36px;
    color: var(--gray-500);
    font-weight: 700;

    @media screen and (min-width: 375px) {
      font-size: 32px;
      line-height: 45px;
    }

    @media screen and (min-width: 545px) {
      font-size: 48px;
      line-height: 65px;
    }
  }

  &__description {
    color: var(--gray-200);
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
  }
}

.title-highlight {
  color: var(--orange-300);
}

.input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.16px;

  &::placeholder {
    color: var(--gray-100);
  }
}

.users {
  &__info {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--gray-300);
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    color: #fd905a;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--orange-200);
    }
  }
}
