@import 'typography';
@import 'button';
@import 'scene';
@import 'burger-icon';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf7f3;
}

.container {
  position: relative;
  padding: 30px calc(10px + 3vw);
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;

  @media screen and (min-width: 431px) {
    padding: 30px calc(30px + 3vw);
  }

  @media screen and (min-width: 1400px) {
    padding: 30px 150px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    align-items: center;
  }

  &__logo-and-title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #f9a779;
  }

  &__title {
    cursor: default;
  }

  &__links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    gap: 20px;
    transition: all 0.2s ease-in-out;
    background-color: #2d2d2d;
    height: 100vh;
    transform: translateX(100%);
    z-index: 2;

    @media screen and (min-width: 768px) {
      transform: initial;
      flex-direction: row;
      justify-content: space-between;
      position: static;
      background-color: initial;
      height: initial;
      padding: 0;
    }

    @media screen and (min-width: 900px) {
      gap: 45px;
    }

    @media screen and (min-width: 1400px) {
      margin-left: 30px;
    }
  }

  &__link {
    &-active {
      cursor: default;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 4px 0 0;
        height: 5px;
        background-color: #fb9b69;

        @media screen and (min-width: 768px) {
          width: 21px;
          height: 1.5px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__button-burger-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: calc(10px + 2vw);

    @media screen and (min-width: 375px) {
      width: initial;
      flex-direction: row;
      align-items: center;
    }
  }
}

.module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;

  @media screen and (min-width: 375px) {
    margin-top: 80px;
  }

  @media screen and (min-width: 545px) {
    margin-top: 118px;
  }

  @media screen and (max-width: 900px) {
    gap: 60px;
  }

  @media screen and (min-width: 900px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1400px) {
    gap: 220px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    text-align: center;
    z-index: 1;

    @media screen and (min-width: 900px) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__title {
    max-width: 456px;
  }

  &__description {
    margin-top: 12px;
    max-width: 444px;
  }

  &__button {
    margin: 30px 0 50px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  width: 100%;
  max-width: 597px;
  height: 62px;
  padding-right: 6px;

  &__input {
    border: none;
    outline: none;
    height: 100%;
    border-radius: 100px;
    padding: 0 16px;
    width: 100%;

    @media screen and (min-width: 390px) {
      padding: 0 12px 0 38px;
    }
  }

  &__button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: url('../images/icons/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.users {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-top: 36px;

  &__icons {
    display: flex;
    flex-direction: row;
    padding-left: 66px;
    padding-right: 38px;
  }

  &__icon {
    width: 38px;
    height: 38px;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-right: -60px;

    &:first-child {
      background-color: #ff8345;
      background-image: url('../images/icons/plus-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    text-align: left;
  }
}
