@import 'animation';

.scene {
  display: flex;
  justify-content: center;

  .objects-and-image {
    position: relative;
  }

  .circle-and-flags {
    position: relative;
    top: -30px;
    transform-origin: center;
    transform: rotate(0deg);
    animation: rotation 30s infinite 6.6s linear;
  }

  .flag {
    position: absolute;
    border-radius: 50%;
    outline: 10px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;

    &-s {
      width: 30px;
      height: 30px;
    }

    &-m {
      width: 40px;
      height: 40px;
    }

    &-l {
      width: 50px;
      height: 50px;
    }

    &-in {
      background-image: url('../images/flags/india-flag.png');
    }

    &-it {
      background-image: url('../images/flags/italy-flag.png');
    }

    &-de {
      background-image: url('../images/flags/germany-flag.png');
    }

    &-uk {
      background-image: url('../images/flags/uk-flag.png');
    }

    &-se {
      background-image: url('../images/flags/sweden-flag.png');
    }

    &-xl {
      width: 60px;
      height: 60px;
    }

    &-1 {
      top: 270px;
      left: -5px;
      animation: flag-1-movement 2s ease-in-out 3s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-2 {
      top: 270px;
      left: 430px;
      animation: flag-2-movement 2s ease-in-out 4.6s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-3 {
      top: 430px;
      left: 200px;
      animation: flag-3-movement 2s ease-in-out 4.6s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-4 {
      top: -20px;
      left: 220px;
      animation: flag-4-movement 2s ease-in-out 3.8s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-5 {
      top: 100px;
      left: 400px;
      animation: flag-5-movement 2s ease-in-out 4.2s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-6 {
      top: 70px;
      left: 10px;
      animation: flag-6-movement 2s ease-in-out 3.4s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }
  }

  .circle {
    width: 450px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
  }

  .circle-filled {
    position: absolute;
    top: 80px;
    width: 280px;
    height: 280px;
    background-color: #48b774;
    border-radius: 50%;
  }

  .hero-image {
    position: absolute;
    top: 10px;
  }
}
