@import 'animation';

.scene {
  position: relative;
  display: flex;
  justify-content: center;
  transition: right 0.2s ease-in-out;

  scale: 0.8;

  @media screen and (min-width: 900px) {
    position: fixed;
    bottom: 0;
    right: 3vw;
    height: 567px;
    scale: 1;
  }

  @media screen and (min-width: 1180px) and (max-width: 1400px) {
    right: 5vw;
  }

  @media screen and (min-width: 1400px) {
    right: 10vw;
  }

  @media screen and (min-width: 1680px) {
    right: 20vw;
  }

  @media screen and (min-width: 1920px) {
    scale: 1.3;
    height: 636px;
    right: 23vw;
  }

  .circle-and-flags {
    position: relative;
    top: -30px;
    width: 450px;
    height: 450px;
    transform-origin: center;
    animation: rotation 30s infinite 6.6s linear;
    transition: filter 1s ease-in-out;

    @media screen and (min-width: 900px) and (max-width: 1060px) {
      filter: blur(3px);
    }
  }

  .flag {
    position: absolute;
    border-radius: 50%;
    outline: 10px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;

    &-s {
      width: 30px;
      height: 30px;
    }

    &-m {
      width: 40px;
      height: 40px;
    }

    &-l {
      width: 50px;
      height: 50px;
    }

    &-in {
      background-image: url('../images/flags/india-flag.png');
    }

    &-it {
      background-image: url('../images/flags/italy-flag.png');
    }

    &-de {
      background-image: url('../images/flags/germany-flag.png');
    }

    &-uk {
      background-image: url('../images/flags/uk-flag.png');
    }

    &-se {
      background-image: url('../images/flags/sweden-flag.png');
    }

    &-xl {
      width: 60px;
      height: 60px;
    }

    &-1 {
      top: 270px;
      left: -5px;
      animation: flag-1-movement 2s ease-in-out 3s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-2 {
      top: 270px;
      left: 430px;
      animation: flag-2-movement 2s ease-in-out 4.6s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-3 {
      top: 430px;
      left: 200px;
      animation: flag-3-movement 2s ease-in-out 4.6s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-4 {
      top: -20px;
      left: 220px;
      animation: flag-4-movement 2s ease-in-out 3.8s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-5 {
      top: 100px;
      left: 400px;
      animation: flag-5-movement 2s ease-in-out 4.2s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }

    &-6 {
      top: 70px;
      left: 10px;
      animation: flag-6-movement 2s ease-in-out 3.4s 1 normal forwards,
        rotation 30s infinite 6.6s linear reverse;
    }
  }

  .circle {
    width: 450px;
    height: 450px;
    background-color: transparent;
    border: 2px solid #e8e8e8;
    border-radius: 50%;

    @media screen and (max-width: 1260px) {
      border-width: 3px;
    }
  }

  .circle-filled {
    position: absolute;
    top: 80px;
    width: 280px;
    height: 280px;
    background-color: #48b774;
    border-radius: 50%;
    transition: filter 1s ease-in-out;

    @media screen and (min-width: 900px) and (max-width: 1060px) {
      filter: blur(2px);
    }
  }

  .hero-image {
    position: absolute;
    top: 10px;
  }
}
